@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

main{margin-top: 120px;}

/* 메인 비주얼 */
.main_visual{
  background-image: url('../images/main_visual_bg.jpg');
  background-size: 140%;
  background-position: -200px -20px;
  background-repeat: no-repeat;
  height: 510px; width: 100%;
}
.main_visual .inner{
  width: 1400px; height: 510px;
  margin: 0 auto;
  position: relative;
}
.main_visual img{
  width: 500px;
  position: absolute;
  left: 80px; bottom: 40px;
  display: none;
}
.main_visual .text{
  position: absolute;
  top: 150px; right: 160px;
  display: none;
}
.main_visual .text p{
  font-size: 38px;
  font-family: 'Nanum Myeongjo', serif;
  color: #fff;
  text-align: right;
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 55px;
}
.main_visual .v_btn{
  background: #fff;
  color: #366CC7;
  border: 1px solid #fff;
  display: block;
  transform: translateX(120px);
}
.main_visual .v_btn:hover{
  background: #366CC7;
  color: #fff;
  border: 1px solid #366CC7;
}

/* 공식몰 */
.shop .inner{
  width: 800px; height: 210px;
  margin: 0 auto;
  position: relative;
}
.shop .logo_img{
  background-image: url('../images/logo.png');
  background-size: 100%;
  width: 270px; height: 117px;
  display: inline-block;
}
.shop .text{
  display: inline-block;
  margin-left: 100px;
}
.shop .title{
  font-family: 'Nanum Myeongjo', serif;
  color: #031A5E;
  font-size: 30px;
  font-weight: 700;
}
.shop .txt{
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
}
.shop .s_btn{
  background: #366CC7;
  color: #fff;
  position: absolute;
  right: 0; top: 60px;
}
.shop .s_btn:hover{
  background: #fff;
  color: #366CC7;
}

/* 광고 */
.youtube{height: 735px;}
.youtube .inner{
  width: 1200px; height: 675px;
  margin: 0 auto;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}
.youtube video{
  width: 1200px;
}

/* 슬라이드 */
.promotion{
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  position: relative;
  height: 480px;
  transition: 0.4s;
  margin-bottom: 20px;
}
.proSlide{
  width: calc(819px * 3 + 10px * 2); /*2477*/ /*띄어쓰기 주의*/
  height: 480px;
  flex-shrink: 0;
  position: relative;
}
.proSlide .swiper-slide{
  text-align: center;
  position: relative;
  opacity: .4;
  /* transition: opacity 1; */
}
.proSlide .swiper-slide-active{opacity: 1;}
.swiper-pagination{
  bottom: 40px !important;
  z-index: 1;
}
.swiper-pagination .swiper-pagination-bullet{
  background-color: rgba(0, 0, 0, .5);
  width: 10px; height: 10px;
  margin-right: 10px;
}
.swiper-pagination .swiper-pagination-bullet:last-child{
  margin-right: 0px;
}
.swiper-pagination .swiper-pagination-bullet-active{
  background: #031A5E;
}

.promotion .swiper-button-prev, .promotion .swiper-button-next{
  width: 42px; height: 42px;
  border: 2px solid #031A5E;
  border-radius: 50%;
  top: 310px;
  z-index: 1;
  color: #031A5E;
  transition: .3s;
}
.promotion .swiper-button-prev{
  left: 50%;
  margin-left: -480px;
}
.promotion .swiper-button-next{
  right: 50%;
  margin-right: -480px;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
  background: #031A5E;
  color: #fff;
}
.swiper-button-prev::after, .swiper-button-next::after{display: none;}

.promotion .swiper-slide .btn{
  position: absolute;
  bottom: 170px; left: 138px; right: 0;
  background: #366CC7;
  color: #fff;
}
.swiper-slide .btn:hover{
  background: #fff;
  color: #366CC7;
}

/* 제품 */
.product{
  background-image: url('../images/brand_1920x470-web.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
}
.product .inner{
  width: 1400px; height: 460px;
  margin: 0 auto;
}
.product .mySwiper{
  width: 1100px; height: 320px;
  transform: translateX(-140px);
  padding: 70px 0;
}
.product .swiper-slide{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.product .img{margin-left: 200px;}
.product .img img{width: 320px;}

.product .t_box{
  padding-top: 120px;
}
.product .text .title{
  font-family: 'Nanum Myeongjo', serif;
  color: #031A5E;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}
.product .text .txt{
  font-size: 16px;
  line-height: 25px;
}

.product .btn_box .btn01{
  background: #366CC7; color: #fff;
  margin: 30px 20px 0 0;
}
.product .btn_box .btn01:hover{background: #fff; color: #366CC7;}
.product .btn_box .btn02{background: #fff; color: #366CC7;}
.product .btn_box .btn02:hover{background: #366CC7; color: #fff;}

/* 브랜드 키워드 */
.brand .inner{
  width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 50px 0;
}
.brand .inner a > div{overflow: hidden;}
.brand .keyword01{
  background-image: url('../images/keyword_img_01.jpg');
  background-size: 230%;
  background-position: -180px 0;
  width: 348px; height: 442px;
  transition: .5s;
}
.brand .keyword01:hover{
  background-size: 240%;
  background-position: -195px -10px;
}
.brand .keyword02{
  background-image: url('../images/keyword_img_02.jpg');
  background-size: 230%;
  background-position: -180px 0;
  width: 348px; height: 442px;
  transition: .5s;
}
.brand .keyword02:hover{
  background-size: 240%;
  background-position: -195px -10px;
}
.brand .keyword03{
  background-image: url('../images/keyword_img_03.jpg');
  background-size: 230%;
  width: 348px; height: 442px;
  transition: .5s;
}
.brand .keyword03:hover{
  background-size: 240%;
  background-position: -10px -10px;
}

.brand .text{
  width: 275px; height: 110px;
  background: #fff;
  transform: translateY(350px);
  margin: 0 auto;
  transition: .5s;
}
.brand .inner div:hover > .text{
  height: 160px;
  transform: translateY(250px);
  background: rgba(255,255,255,.9);
}

.brand .text .title{
  font-family: 'Nanum Myeongjo', serif;
  color: #031A5E;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding: 30px 0 10px 0;
}
.brand .text .txt{
  font-size: 14px;
  text-align: center;
}
.brand .text span{
  font-size: 34px;
  text-align: center;
  display: block;
  transform: translateY(10px);
  opacity: 0;
  transition: .5s;
}
.brand .inner div:hover > .text span{opacity: 1;}

/* 향기의 비밀 */
.dwony{
  width: 100%; height: 400px;
  background-image: url('../images/dwony_bg.jpg');
  background-position: 0 -610px;
}
.dwony .inner{
  width: 1100px;
  display: flex;
  margin: 0 auto;
  position: relative;
}
.dwony .inner img{
  position: absolute;
  right: 60px; top: 100px;
}
.dwony .text{
  width: 500px;
  position: absolute;
  left: 60px; top: 100px;
}
.dwony .text .title{
  font-family: 'Nanum Myeongjo', serif;
  color: #031A5E;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 12px;
}
.dwony .text .txt{
  font-size: 14px;
  margin-bottom: 30px;
}

.dwony .btn_box{
  position: absolute;
  top: 240px; left: 60px;
}
.dwony .btn_box .btn{
  background: #366CC7;
  color: #fff;
}
.dwony .btn:hover{
  background: #fff;
  color: #366CC7;
}

/* 안심하고 쓰는 다우니 */
.sefe{
  height: 640px; width: 100%;
  background-image: url('../images/sefe_dwony_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: 0 -1000px;
}
.sefe .inner{
  width: 1000px; height: 640px;
  color: #fff;
  margin: 0 auto;
  position: relative;
}

.sefe .icon{
  position: absolute;
  left: 80px; top: 140px;
}
.sefe span{
  font-size: 300px;
  display: block;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
  margin-bottom: 30px;
}

.sefe .btn_box{
  position: absolute;
  bottom: 110px; left: 80px;
}
.sefe .btn{
  background: #fff;
  border: 1px solid #fff;
  color: #366CC7;
  transform: translateX(85px);
}
.sefe .btn:hover{
  background: #366CC7;
  border: 1px solid #366CC7;
  color: #fff;
}

.sefe .text{
  text-align: right;
  position: absolute;
  right: 80px; top: 210px;
}
.sefe .text .title{
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 20px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, .8);
}
.sefe .text .txt{
  font-size: 28px;
  font-weight: 400;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, .8);
}

/* etc */
.etc{width: 100%;}
.etc .inner{
  display: flex;
  /* width: 1400px; */
  justify-content: center;
  padding: 50px 0 80px 0;
}
.etc #img{
  width: 650px; height: 490px;
  margin-right: 25px;
  overflow: hiddenZZ;
}
.etc #img img{height: 100%;}
.etc .more .qna, .etc .more .contact{
  background: #253394;
  border-radius: 20px;
  width: 380px; height: 92px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  border: 1px solid #253394;
  transition: 0.4s;
  cursor: pointer;
}
.etc .more .qna:hover, .etc .more .contact:hover{
  background: #fff;
}
.etc .more .qna p, .etc .more .contact p, .etc .more .qna span, .etc .more .contact span{
  color: #fff;
  line-height: 92px;
  transition: .4s;
}
.etc .more .qna p, .etc .more .contact p{
  font-size: 30px;
  width: 190px;
  text-align: center;
}
.etc .more .qna span, .etc .more .contact span{
  font-size: 50px;
  display: block;
}
.etc .more .qna:hover p, .etc .more .contact:hover p, .etc .more .qna:hover span, .etc .more .contact:hover span{
  color: #253394;
}
.etc .more .qna:hover .arrow, .etc .more .contact:hover .arrow{
  animation: ani03 infinite 3s;
}
@keyframes ani03{
  0%{transform: translateX(0px);}
  50%{transform: translateX(10px);}
  100%{transform: translateX(0px);}
}

.etc .text{
  width: 520px; height: 236px;
  position: relative;
}
.etc .text .title{
  font-family: 'Nanum Myeongjo', serif;
  color: #031A5E;
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0 20px 30px;
}
.etc .box01{
  width: 2px; height: 100px;
  background: #031A5E;
  position: absolute;
  left: 20px; top: 50px;
}
.etc .text .list{margin-left: 50px;}
.etc .text .list li .l_txt{
  line-height: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #031A5E;
  display: inline-block;
  width: 100px;
}
.etc .text .list li a{
  color: #333;
  font-size: 14px;
}
.etc .text .list li a:hover{text-decoration: underline;}
.etc .text .list li a:hover span{
  animation: ani02 infinite 2s;
  color: #031A5E;
  transition: .3s;
}
@keyframes ani02{
  0%{transform: translateX(0px) translateY(3px);}
  50%{transform: translateX(4px) translateY(3px);}
  100%{transform: translateX(0px) translateY(3px);}
}
.etc .text .list li .material-icons{
  transform: translateY(3px);
  font-size: 16px;
}
.etc .text .txt{
  font-size: 20px;
  margin: 30px 0 0 50px;
  line-height: 30px;
}

/* 화면 스크롤 동작시 움직이는 서식 */
.back-to-position{
  opacity: 0;
  transition-duration: 1s;
}
.back-to-position.to-left{
  transform: translateX(-150px);
}
.back-to-position.to-right{
  transform: translateX(150px);
}
.show .back-to-position{
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-1{transition-delay: .3s;}
.show .back-to-position.delay-2{transition-delay: .6s;}
.show .back-to-position.delay-3{transition-delay: .9s;}